body {
	max-width: 1024px;
	margin: 0 auto;
}

.company {
	max-width: 1024px;
	margin: 0 auto;
	color: white;
	background: url("../about/photos/companycolor.jpeg"); 
	background-size: cover;
	}
.company h3 { 
	font-family: Rockwell, 'Courier Bold', Courier, Georgia, Times, 'Times New Roman', serif;
	font-size: 30px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 15.4px; 
	}
.company p {
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 14px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 20px;
}

.profiles {
	background-color:red;
	max-width: 1024px;
	margin: 0 auto;
	}
.profiles .rj {
	max-width: 40%;
	display: inline;
	float: left;
	margin: 0 auto;
	border: 1px solid #cc0000;
	
}
.profiles .dee {
	max-width: 40%;
	display: inline;
	float: left;
	margin: 0 auto;
	border: 1px	solid #cc0000;
}